/**
 * Custom admin menu icons.
 */
#wp-admin-bar-wc-orders .ab-icon:before,
#wp-admin-bar-wc-reports .ab-icon:before {
	font-size: 16px;
	top: 0;
}

#adminmenu #menu-posts-shop_coupon div.wp-menu-image {
	background-image: none;
}
